{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

{% if user.is_staff == True %}  
    <a href = "{% url 'og:admin_menu' %}"><button class = "btn btn-primary">관리자 메뉴</button></a>
{% else %}
    <a href = "{% url 'og:artist_entry' %}"><button class = "btn btn-primary">작가등록하기</button></a>
    <a href = "{% url 'og:artist_menu' %}"><button class = "btn btn-primary">작가 메뉴</button></a>
{% endif %}

<a href = "{% url 'og:artist_list' %}"><button class = "btn btn-primary">작가 조회</button></a>
<a href = "{% url 'og:item_list' %}"><button class = "btn btn-primary">작품 조회</button></a>

{% endblock %}