{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<a href = "{% url 'og:main' %}"><button class = "btn btn-primary">첫화면</button></a><br>

<div class="wrapper">
        <h1>작가 등록</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.username }}<br>
            {{ form.gender }}<br>
            {{ form.birth_date }}<br>
            'YYYY-MM-DD 형식으로 입력'
            {{ form.email }}<br>
            {{ form.phone_number }}<br>
            <input type="submit" class="btn btn-primary" value="작가 등록하기">
        </form>
</div>

{% endblock %}