<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
</head>
<body>
    <div style="text-align: center;">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

<h1>오픈 갤러리</h1>
    {% if user.is_authenticated %}
        {{user.username}}님 안녕하세요
        <a href = "{% url 'accounts:logout' %}"><button class = "btn btn-primary">로그아웃</button></a>

    {% else %}<!-- 로그인 안했을때 -->
        <a href = "{% url 'accounts:signup' %}"><button class = "btn btn-primary">회원가입</button></a>
        <a href = "{% url 'accounts:login' %}"><button class = "btn btn-primary">로그인</button></a>
    {% endif %}
    <br><br>

{% block content %}

{% endblock %}
</body>
</html>